:root {
    --font-head: 'Karla', sans-serif;
    --font-p: 'Merriweather', serif;
    --light-blue: #a2d1ec;
    --light-blue-test: #6dbae6;
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}

a {
    text-decoration: none;
    color: black;
}

p {
    margin: 0;
}

.content {
    height: 100%;
}

header {
    height: 7rem;
    /* background-color: aqua; */
    width: 100%;
    /* position: fixed; */
    display: flex;
    top: 0;
    box-shadow: 0px 8px 12px -6px rgba(0,0,0,0.1);
}

.header-img-cont {
    flex: 2;
    /* background-color: red; */
    margin-left: 10%;
    display: flex;
    align-items: center;
}

.header-img-cont > img {
    height: 90%;
}

.header-items-cont {
    /* background-color: green; */
    flex: 8;
    margin-right: 10%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 2rem;
}

.header-items-cont > a {
    font-family: var(--font-head);
    font-size: 1.2rem;
}


main {
    height: calc(100% - 7rem);
}

.main-img-cont {
    height: 20rem;
    background-image: url(../img/main-img.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    opacity: 0.75;
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-head);
    font-weight: 700;
}

.main-subcont {
    height: calc(100% - 20rem);
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
}

.main-text {
    margin-top: 6rem;
    font-size: 3rem;
    font-family: var(--font-head);
    color: var(--light-blue);
}



