/* ----------global---------- */

:root {
    --font-head: 'Karla', sans-serif;
    --font-p: 'Dancing Script', cursive;
    --light-blue: #a2d1ec;
    --light-grey: #eceded;
    --light-grey-icons: #c8d7e3;
    --light-black: rgba(0, 0, 0, 0.8);
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100%;
    max-width: 100%;
    /* width: 100vw; */
}

a {
    text-decoration: none;
    color: rgb(117, 115, 115);
}

p {
    margin: 0;
}

span {
    font-weight: 500;
}

.selected {
    color: var(--light-blue);
}

.content {
    height: 100%;
    max-width: 100%;
}

.lgrey {
    color: var(--light-grey);
}

/* ----------header---------- */

header {
    height: 7rem;
    width: 100%;
    /* position: fixed; */
    display: flex;
    justify-content: center;
    top: 0;
    box-shadow: 0px 8px 12px -6px rgba(0,0,0,0.1);
}

.header-img-cont {
    display: flex;
    align-items: center;
    width: 15%;
}

.header-img-cont > img {
    height: 90%;
}

.header-items-cont {
    width: 65%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 2rem;
}

.header-items-cont > a {
    font-family: var(--font-head);
    font-size: 1.2rem;
    position: relative;
}

.header-items-cont > a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1.5px;
    bottom: 0%;
    left: 0%;
    border-radius: 2px;
    background-color: var(--light-blue);
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.header-items-cont > a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.header-menu {
    display: flex;
    align-items: center;
    display: none;
}

/*------------ main--------- */

main {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main-img-cont {
    height: 17rem;
    background-image: url(../img/sky.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.75;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* color: rgba(0, 0, 0, 0.8); */
}

.main-img-subtitle, .main-img-title {
    color: white;
    font-size: 5rem;
    font-family: var(--font-p);
    font-weight: 700;
    position: relative;
    text-shadow: 0px 0px 5px rgba(0,0,0,1);
}

.main-img-subtitle {
    font-size: clamp(1rem, 3vw, 6rem);
    margin-top: 2rem;
}

.main-subcont {
    margin-top: 2rem;
    flex: 10;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.main-text {
    font-size: 2.5rem;
    font-family: var(--font-p);
    color: var(--light-blue);
    text-align: center;
}

.main-contact-cont {
    display: flex;
    gap: 20%;
    /* align-items: center; */
    justify-content: center;
    margin-top: 5rem;
}

.main-pe-cont {
    height: 6rem;
    width: 20rem;
    border-radius: 0.75rem;
    box-shadow: 0px 12px 15px -3px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 1s;
}

.main-pe-cont > img {
    height: 4rem;
    /* filter: invert(99%) sepia(54%) saturate(1227%) hue-rotate(173deg) brightness(91%) contrast(94%); */
    /* filter: invert(80%) sepia(5%) saturate(2772%) hue-rotate(183deg) brightness(89%) contrast(96%); */
    filter: invert(83%) sepia(12%) saturate(906%) hue-rotate(166deg) brightness(95%) contrast(94%);
    transition: filter .5s;
}

.main-pe-cont > a {
    /* color: #c8d7e3; */
    color: var(--light-blue);
    font-family: var(--font-head);
    font-weight: 500;
    transition: color .5s;
}

.main-pe-cont > a:hover {
    color: var(--light-blue);
}

.end {
    /* height: calc(100% - 100% - 24rem); */
    display: flex;
}

footer {
    /* background-color: rgba(0, 0, 0, 0.3); */
    background-color: var(--light-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: .75rem;
    margin-top: 5rem;
    font-family: var(--font-head);
    min-height: 2rem;
}

@media (min-width: 1200px) {
    .header-img-cont > a {
        display: block;
    }
}

@media (max-width: 1200px) {

    header {
        justify-content: center;
        gap: 50%;
    }
    
    .header-img-cont > img {
        z-index: 3;
    }

    .header-items-cont {
        position: fixed;
        top: 6rem;
        min-height: fit-content;
        display: block;
        width: 80%;
        margin: 0 auto;
        z-index: 2;
        background-color: white;
    }

    .header-items-cont > a {
        text-align: center;
        padding-top: .5rem;
        border-bottom: 1px solid rgba(162, 209, 236, 0.2);
        display: none;
    }

    .header-img-cont {
        width: 25%;
    }
    
    .header-menu {
        display: flex;
        height: 100%;
        align-items: center;
        z-index: 3;
    }
}

@media (max-width: 550px) {

    html, body {
        min-height: 100%;
    }

    header {
        position: fixed;
        z-index: 2;
        background-color: white;
    }

    
    .header-img-cont > img {
        height: clamp(75%, 22vw, 90%);
        height: 90%;
    }



    .header-menu > img {
        height: clamp(2rem, 6vw, 3rem);
    }


    main {
        position: relative;
        top: calc(7rem);
    }

    .main-img-title {
        font-size: clamp(1.5rem, 12vw,4rem);
    }

    .main-img-subtitle {
        font-size: clamp(1rem, 6vw, 2rem);
        text-wrap: balance;
        text-align: center;
        padding-left: 5%;
        padding-right: 5%;
    }

    .main-img-cont {
        height: clamp(13rem, 10vw ,15rem);
        flex: none;
    }

    .main-subcont {
        justify-content: start;
    }

    .main-text {
        font-size: clamp(.75rem, 8vw, 3rem);
        position: relative;
        top: 0rem;
        margin-top: 1rem;
    }

    .main-contact-cont {
        min-height: 20rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
        gap: 2rem;
    }
    
    .main-pe-cont {
        width: 50%;
        min-height: 5rem;
    }

    .main-pe-cont > a {
        font-size: clamp(.2rem, 4vw,.75rem);
    }

    footer {
        margin-top: 3rem;
    }
}