:root {
    --font-head: 'Karla', sans-serif;
    --font-p: 'Dancing Script', cursive;
    --light-blue: #a2d1ec;
    --light-grey: #eceded;
    --light-grey-icons: #c8d7e3;
    --light-blue-test: #6dbae6;
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}

a {
    text-decoration: none;
    color: rgb(117, 115, 115);
}

p {
    margin: 0;
}

span {
    font-weight: 500;
}

.selected {
    color: var(--light-blue);
}

.content {
    height: 100%;
}

header {
    height: 7rem;
    width: 100%;
    /* position: fixed; */
    display: flex;
    top: 0;
    box-shadow: 0px 8px 12px -6px rgba(0,0,0,0.1);
}

.header-img-cont {
    flex: 2;
    margin-left: 10%;
    display: flex;
    align-items: center;
}

.header-img-cont > img {
    height: 90%;
}

.header-items-cont {
    flex: 8;
    margin-right: 10%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 2rem;
}

.header-items-cont > a {
    font-family: var(--font-head);
    font-size: 1.2rem;
    position: relative;
}

.header-items-cont > a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1.5px;
    bottom: 0%;
    left: 0%;
    border-radius: 2px;
    background-color: var(--light-blue);
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.header-items-cont > a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

main {
    height: calc(100% - 7rem);
}

.main-img-cont {
    height: 20rem;
    background-image: url(../img/main-img.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    opacity: 0.75;
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-head);
    font-weight: 700;
    color: rgba(0, 0, 0, 0.8)
}

.main-subcont {
    height: calc(100% - 20rem);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.main-text {
    position: relative;
    bottom: 5.5rem;
    font-size: 3rem;
    font-family: var(--font-p);
    color: var(--light-blue);
    text-align: center;
}

.main-contact-cont {
    display: flex;
}

.main-pe-cont {
    height: 6rem;
    width: 20%;
    border-radius: 0.75rem;
    box-shadow: 0px 12px 15px -3px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20%;
}

.main-pe-cont > img {
    height: 4rem;
    filter: invert(99%) sepia(54%) saturate(1227%) hue-rotate(173deg) brightness(91%) contrast(94%);
    /* filter: invert(83%) sepia(12%) saturate(906%) hue-rotate(166deg) brightness(95%) contrast(94%); */
}

.main-pe-cont > a {
    /* color: #c8d7e3; */
    font-family: var(--font-head);
    font-weight: 500;
}

.main-pe-cont > a:hover {
    color: var(--light-blue);
}

footer {
    height: 2rem;
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.3); */
    background-color: var(--light-blue);
    position: fixed;
    bottom: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: .75rem;
    font-family: var(--font-head);
}