/* ----------global---------- */

:root {
    --font-head: 'Karla', sans-serif;
    --font-p: 'Dancing Script', cursive;
    --textshadow-black: 0px 0px 5px rgba(0, 0, 0, 1);
    --light-blue: #a2d1ec;
    --light-grey: #eceded;
    --darker-blue: #96b7de;
    --lighter-blue: #ade1f5;
    --light-black: rgba(0, 0, 0, 0.8);
    --grey: rgb(117, 115, 115);
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    min-height: 100%;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: rgb(117, 115, 115);
}

p {
    margin: 0;
    color: var(--grey);
    font-family: var(--font-head);
    text-wrap: balance;
}

span {
    font-weight: 500;
}

.selected {
    color: var(--light-blue);
}

.underline {
    border-bottom: solid 3.5px var(--light-blue);
    padding-bottom: -5px;
}

.underline-b {
    border-bottom: solid 5px var(--light-blue);
    padding-bottom: -5px;
}

.bold {
    font-weight: 700;
}

.lgrey {
    color: var(--light-grey);
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-center {
    display: grid;
    justify-content: center;
    justify-items: center;
}

.margin-bottom6 {
    margin-bottom: 6rem;
}

.write {
    font-family: var(--font-p);
    color: var(--light-blue);

}

.type {
    font-family: var(--font-head);
    color: var(--light-black);
}

.headline {
    font-size: clamp(2rem, 4.5vw, 6rem);
    font-weight: 700;
}

.subheadline {
    font-size: clamp(1rem, 2vw, 3rem);
    font-weight: 500;
}

.ptext {
    font-family: var(--font-head);
    font-size: clamp(.9rem, 1.2vw, 2rem);
}

.anim-a {
    transform: scale(1);
    transition: 0.5s;
}

.anim-a:hover {
    transform: scale(0.95);
    color: var(--light-blue);
}

.pay-cont {
    margin-top: 5rem;
    width: clamp(20rem,50%, 65%);
    min-height: 12rem;
    /* background-color: aqua; */
    border: solid 5px var(--light-blue);
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    transition: .75s;
    transform: scale(1);
    cursor: default;
    box-shadow: 0px -2px 15px 16px rgba(0,0,0,0.1);
}

.pay-cont:hover {
    transform: scale(1.05);
}

.pay-cont > h3 {
    margin-top: 1rem;
    margin-bottom: 0;
}

.pay-cont > p {
    margin-top: 1rem;
    margin-left: 10%;
    margin-right: 10%;
}

.price {
    font-size: clamp(2rem, 3.5vw, 5rem);
    color: var(--light-black);
    font-weight: 700;
    padding: 0;
    margin: 0;
}


/* ----------header---------- */

header {
    height: 7rem;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0;
    box-shadow: 0px 8px 12px -6px rgba(0,0,0,0.1);
    background-color: white;
    z-index: 1;
}

.header-img-cont {
    display: flex;
    align-items: center;
    width: 15%;
}

.header-img-cont > img {
    height: 90%;
}

.header-items-cont {
    width: 65%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 2rem;
}

.header-items-cont > a {
    font-family: var(--font-head);
    font-size: 1.2rem;
    position: relative;
}

.header-items-cont > a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1.5px;
    bottom: 0%;
    left: 0%;
    border-radius: 2px;
    background-color: var(--light-blue);
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.header-items-cont > a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.header-menu {
    display: flex;
    align-items: center;
    display: none;
}


main {
    margin-left: 5rem;
    margin-right: 5rem;
}

footer {
    background-color: var(--light-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .75rem;
    font-family: var(--font-head);
    min-height: 2rem;
}

footer > p {
    
    color: white;
}

/* ----------onas---------- */


.onas-qcont {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    height: 15rem;
    margin-top: 12rem;
    max-width: 100%;
    box-shadow: 0px -2px 15px 16px rgba(0,0,0,0.1);
    background-image: url(../img/sky.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    /* opacity: 0.75; */
}

.onas-qcont > img {
    /* height: clamp(12rem, 25vw, 20rem); */
    height: 105%;
    opacity: 1;
}

.onas-quotes {
    font-family: var(--font-p);
    color: white;
    text-shadow: 0px 0px 5px rgba(162, 209, 236, 1);
    font-size: clamp(2rem, 4.5vw, 6rem);
    text-wrap: balance;
    width: 50%;
    text-align: center;
    opacity: 1;
    
}

.onas-pdiv {
    margin-top: 8rem;
}

.onas-pdiv > h1 {
    color: var(--light-black);
    font-family: var(--font-p);
    font-size: clamp(1.7rem, 2vw, 4rem);
    text-decoration: overline;
}

.onas-pdiv > p {
    text-align: justify;
    font-size: clamp(1.25rem, 1.5vw, 3rem);
    text-wrap: balance;
}

.onas-pdiv-fchild {
    padding-top: 0;
}

.onas-pdiv-ochild {
    padding-top: 2rem;
} 

.onas-pdiv > h3 {
    margin-top: 1.23rem;
    margin-bottom: 1.23rem;
    font-family: var(--font-p);
    color: var(--light-blue);
    font-size: clamp(1.7rem, 2vw, 4rem);
}


/* ----------kontakt---------- */


.kont-imgheadline-cont {
    margin-top: 12rem;
}

.kont-headline {
    color: var(--light-blue);
    font-family: var(--font-p);
    font-size: clamp(1.5rem, 3vw, 4rem);
    text-align: center;
}

.kont-img-cont > img {
    height: clamp(8rem, 12vw, 15rem);
    border-radius: 15px;
    border: solid 5px var(--darker-blue);
}

.kont-img-cont {
    gap: 4rem;
}

.kont-mdt-cont {
    background-color: #96b7de;
    /* background-color: var(--light-blue); */
    border-radius: 15px;
    margin-top: 6rem;
    min-height: 22rem;
}

.kont-tel {
    padding-top: 5rem;
}

.kont-mdt-cont > h1, .kont-mdt-cont > div > div > h3{
    font-family: var(--font-head);
    color: white;
    text-align: center;
}

.kont-mdt-cont > div > div > h5  {
    font-family: var(--font-head);
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    font-weight: 400;
}

.kont-mdt-cont > div > div > h3  {
    font-size: clamp(1.2rem, 1.5vw, 2rem);
}

.kont-mdt-img {
    filter: invert(99%) sepia(20%) saturate(0%) hue-rotate(258deg) brightness(111%) contrast(100%);
}

.kont-mdt-cont > div > div > a {
    color: white;
    font-family: var(--font-head);
    font-size: clamp(.9rem, 1.5vw, 2rem);
    font-weight: 700;
    text-decoration: underline var(--light-blue) 1.5px;
    transform: scale(1);
    transition: .5s;
}

.kont-a-focus:hover {
    color: var(--light-blue);
    transform: scale(0.95);
}

.kont-mdt-cont > div {
    gap: clamp(3rem, 10vw, 10rem);
}

.kont-items-cont {
    margin-bottom: 5rem;
}

.kont-mdt-cont > div > div {
    margin-top: 3rem;
    /* background-color: var(--light-blue); */
    display: flex;
    align-items: center;
    flex-direction: column;
    /* height: clamp(8rem, 10vw, 12rem); */
    width: clamp(5rem, 20vw, 15rem);
    text-align: center;
    /* margin-top: 4rem; */
}

.kont-mdt-cont  > h1 {
    margin-top: 3rem;
    font-size: clamp(2rem, 3vw, 4rem);
    line-height: 50px;
    text-decoration: underline 3px var(--light-blue);
}

.kont-icon-cont {
    background-color: var(--light-blue);
    min-height: 5rem;
    min-width: 5rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kont-icon-cont > img {
    height: 3rem;
}

.kont-footer {
    margin-top: 6rem;
}

.kont-kde {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}

.kont-kde-img {
    width: clamp(60rem,75vw,90rem);
}


/* ----------konzultace---------- */

.konz-h1 {
    margin-top: 10rem;
}

.konz-main {
    margin-left: 0;
    margin-right: 0;
}

.margin-lr {
    margin-left: 5%;
    margin-right: 5%;
}

.konz-headline {
    text-align: center;
    font-size: clamp(1.5rem, 3.5vw, 5rem);
}

.konz-subheadline {
    margin-top: 3rem;
    text-align: center;
    font-size: clamp(.8rem, 1.5vw, 2.5rem);
}

.konz-headline-block {
    flex-direction: column;
    text-align: center;
    font-size: clamp(.8rem, 1.5vw, 2.5rem);
}

.konz-headline-block > a {
    display: flex;
    margin-top: 1rem;
    align-items: center;
    /* justify-content: center; */
    font-size: clamp(.9rem, 1.8vw, 2.5rem);
}

.konz-headline-block > a::before {
    content: url(../img/IcBaselineAdsClick.svg);
    height: 100%;
    filter: invert(43%) sepia(0%) saturate(56%) hue-rotate(138deg) brightness(103%) contrast(79%);
    transition: .5s;
}

.konz-headline-block > a:hover::before {
    filter: invert(83%) sepia(12%) saturate(906%) hue-rotate(166deg) brightness(95%) contrast(94%);
}

.konz-pinfo {
    margin-top: 4rem;
}

.konz-info {
    text-align: justify;
    margin-top: 1rem;
    /* color: rgb(255, 255, 255); */
}

.konz-info-cont {
    gap: 1rem;
    margin-top: 7rem;
    background-image: url(../img/flowers2.png);
    /* background-image: url(../img/woman-blue.png); */
    background-position: center;
    background-size: cover;
    height: clamp(15rem, 25vw, 30rem);
}

.konz-help-cont {
    margin-top: 4rem;
    background-color: var(--darker-blue);
    border-radius: 1.5rem 1.5rem 0 0;
    height: fit-content;
    box-shadow: 0px -2px 15px 16px rgba(0,0,0,0.1);
}

.konz-help-headline {
    color: white;
    text-shadow: var(--textshadow-black);
    margin-left: 3rem;
    padding-top: 5rem;
}

.konz-help-cont > ul {
    padding-top: 2rem;
    padding-bottom: 5rem;
}

.konz-help-cont > ul > li {
    color: white;
    list-style-type: disc;
    font-weight: 500;
    font-size: clamp(1.1rem, 1.7vw, 3.5rem);
    margin-left: 5rem;
    padding-top: 0.5rem;
    margin-right: 5rem;
}

.konz-help-cont > ul > li::marker {
    content: '➢   ';
    color: var(--grey);
}


.konz-end-headline {
    margin-top: 2rem;
    font-size: clamp(2rem, 3vw, 4rem);
    text-align: center;
}

.konz-footer {
    margin-top: 6rem;
}


/* ----------meditace---------- */


.med-main {
    margin-left: 0;
    margin-right: 0;
}

.med-img-cont {
    margin-top: 7rem;
    background-image: url(../img/flowers3.jpg);
    /* background-image: url(../img/woman-blue.png); */
    background-position: center;
    background-size: cover;
    height: clamp(15rem, 25vw, 30rem);
}

.med-headline {
    margin-top: 5rem;
    font-size: clamp(1.5rem, 3.5vw, 5rem);
}

.med-second-headline {
    font-size: clamp(1.5rem, 3.5vw, 5rem);
}

.med-lay-cont {
    /* gap: 5%; */
    margin-top: 8rem;
}

.med-p-cont {
    width: 30%;
    flex-direction: column;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 3%;
    margin-left: 3%;
}

.med-cont-first {
    margin-left: 5%;
}

.med-cont-last {
    margin-right: 5%;
}

.med-cont-1 {
    min-height: 20rem;
}

.med-cont-2 {
    min-height: 25rem;
}

.med-p-cont > img {
    height: clamp(3rem, 5vw, 7rem);
    filter: invert(44%) sepia(0%) saturate(1522%) hue-rotate(224deg) brightness(101%) contrast(85%);
}

.med-p-cont > p {
    text-align: center;
    font-size: clamp(.75rem, 1.2vw, 1.7rem);
    margin-top: 1.5rem;
}

.med-next-sess {
    margin-top: 7rem;
    font-size: clamp(1.2rem, 2vw, 3.5rem);
}

hr {
    margin-top: 4.8rem;
    border: solid 2px var(--light-blue);
}

.med-second-headline {
    margin-top: 8rem;
}

.med-footer {
    margin-top: 7rem;
}


/* ----------Seminare---------- */


.sem-headline {
    margin-top: 10rem;
}

.sem-subheadline {
    text-align: center;
}

.sem-img {
    height: clamp(10rem, 15vw, 25rem);
    margin-top: 4rem;
}

.sem-p {
    margin-left: 15%;
    margin-right: 15%;
    font-size: clamp(0.9rem, 1.2vw, 2rem);
    text-align: center;
}

.sem-footer {
    margin-top: 5rem;
}


/* ----------Clanky---------- */


.cla-hb {
    min-height: 100%;
}

.cla-main{
    margin-top: 7rem;
    margin-left: 0;
    margin-right: 0;
    min-height: calc(100vh - 5rem);
}

.cla-cont {
    margin-top: 4rem;
    min-height: 50rem;
    background-color: var(--light-grey);
    max-width: 100%;
    box-shadow: 0px -2px 15px 16px rgba(0,0,0,0.1);
}

.cla-cont > h1 {
    padding-top: 5rem;
}

.cla-footer {
    height: 2rem;
    margin-top: 3rem;
}

.img-lay-cont  {
    display: flex;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;

}

.img-lay-cont > p {
    padding-left: 10rem;
    padding-right: 10rem;
}

.img-lay-cont > img{
    height: clamp(20rem, 25vw, 30rem);
    width: clamp(20rem, 25vw, 30rem);
}

@media (max-width: 1200px) {

    header {
        justify-content: center;
        gap: 50%;
    }
    
    .header-img-cont > img {
        z-index: 3;
    }

    .header-items-cont {
        position: fixed;
        top: 6rem;
        min-height: fit-content;
        display: block;
        width: 80%;
        margin: 0 auto;
        z-index: 2;
        background-color: white;
    }

    .header-items-cont > a {
        text-align: center;
        padding-top: .5rem;
        border-bottom: 1px solid rgba(162, 209, 236, 0.2);
        display: none;
    }

    .header-img-cont {
        width: 25%;
    }
    
    .header-menu {
        display: flex;
        height: 100%;
        align-items: center;
        z-index: 3;
    }
}

@media (max-width: 1000px) {
    .kont-items-cont {
        display: grid;
        width: 100%;
    }

    .kont-items-cont > div {
        width: 100%
    };
    

    .margin-bottom6 {
        margin-bottom: 0;
    }

    .kont-tel, .kont-mail {
        padding-top: 0;
        margin-bottom: 0;
    }

    .kont-tel > h5 {
        width: clamp(5rem,180px,10rem);
    }

    .kont-kde {
        gap: 2rem;
    }

    .kont-kde-img {
        width: 100%;
    }

}

@media (max-width: 850px) {
    .konz-help-headline {
        text-align: center;
        margin-left: 0;
    }

    .konz-help-cont > ul > li {
        margin-left: 1.5rem;
        margin-right: 2.5rem;
    }
}

@media (max-width: 700px) {
    .med-lay-cont {
        flex-direction: column;
        margin-top: 4rem;
    }

    .med-p-cont {
        min-height: fit-content;
        margin-top: 3rem;
        width: 60%;
    }

    .med-p-cont:nth-child(1) {
        margin-top: 0;
    }

    .med-headline, .med-second-headline {
        text-align: center;
    }

    .med-next-sess {
        margin-top: 3rem;
        text-align: center;
        margin-left: 10%;
        margin-right: 10%;
    }
    
}

@media (max-width: 550px) {

    main {
        margin-left: 2rem;
        margin-right: 2rem;
    }

/* ----------onas---------- */

    .onas-qcont {
        flex-direction: column;
        gap: 2rem;
        box-shadow: none;
        background: transparent;
    }

    .onas-quotes {
        text-shadow: none;
        color: var(--light-blue);
    }

    .onas-qcont > p {
        width: 100%;
    }

    .onas-qcont > img {
        height: clamp(9rem, 10vw, 15rem);
    }
    
    .onas-pdiv > p {
        text-align: center;
    }

    .onas-pdiv > h1, .onas-pdiv > h3 {
        display: flex;
        justify-content: center;
    }

    /* ----------onas---------- */

    .kont-img-cont {
        /* display: block; */
        flex-direction: column;
        gap: 2rem;
    }
}